h1{
	text-align: center;
	font-weight: Bold;
	font-family: Arial;
}
h2{
	text-align: center;
	font-weight: lighter;
	font-family: Arial;
}
hr.solid{
	border-top: 10px solid #000000;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
td.category{
	font-weight: bold;
}
td{
	padding-right: 50px;
	padding-bottom: 25px;
}